.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.ant-layout {
  height: 100%;
}
.logo {
  height: 53px !important;
  background: none !important;
  background-image: url("../../../img/logo.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  margin: 0 !important;
  margin-right: 15px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 20px !important;
}
.Layout {
  height: 100%;
  flex-direction: column;
}
.Header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.NavLink {
  color: #fff;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
  &.active {
    background-color: #1890ff;
  }
}
.site-layout {
  flex: 0 1 auto;
  padding: 0 50px;
  margin-top: 74px;
  min-height: 100%;
}
.site-layout-background {
  padding: 14px;
  min-height: 100%;
}
.Footer {
  margin-top: 10px;
  text-align: center;
}
